{% extends 'Gestion_WOP/Base.html' %}

{% block Contenido %}

{% load static %}

  <br><br><br><br><br><br><br>

<DIV id="gracias">  
    <h1>GRACIAS POR ENVIARNOS SU MENSAJE</h1>
    <h2>EN BREVE NUESTRO PERSONAL RECIBIRA SU ACOTACION</h2>
    <br>
    <h3><label for="">Nombre: </label></h3>
    
    <label for="">
    </label>

    <br>
    <h3><label for="">Email: </label></h3><label for="">?Nombre</label>
    <br>
    <h3><label for="">Telefono: </label></h3><label for="">?Nombre</label>
    <br>
    <h3><label for="">Ciudad: </label></h3><label for="">?Nombre</label>
    <br>
    <h3><label for="">Tipo Mensaje: </label></h3><label for="">?Nombre</label>
    <br>
    <h3><label for="">Asunto: </label></h3><label for="">?Nombre</label>
    <br>
    <h3><label for="">Mensaje: </label></h3><label for="">?Nombre</label>
    <br>
</DIV>

<br><br><br>

{% endblock Contenido %}  