{% extends 'Gestion_WOP/Base.html' %}

{% block Contenido %}

{% load static %}
    
  <br><br><br><br><br><br><br><br>

  <div id="infostaff">
        <a href="{% static 'Gestion_WOP/img/WOP_Chibi.jpg' %}" data-lightbox="Galeria" data-title="WOP CORP"><img src="{% static 'Gestion_WOP/img/WOP_Chibi.jpg' %}" width="85%" border="3" alt=""></a>
  </div>

  <br>

  <div id="Staffgeneral">
        <div id="info_1">
                <Label>Nombre: Shaaaas!</Label>
                <br>
                <br>
                <Label>Departamento de Informatica - </Label>
                <Label>Director de Informatica</Label>
                <br>
                <br>
                <Label>Supervisar y aportar en el correcto desarrollo de las actividades que requieran de la creacion de Soluciones Informaticas que posteriormente seran usados en los proyectos que se produzcan en la compañia</Label>
            </div>
        <div id="Shaaaas">
            
            <a href="{% static 'Gestion_WOP/img/STAFF/Shaaaas.png' %}" data-lightbox="Galeria" data-title="Shaaaas"><img src="{% static 'Gestion_WOP/img/STAFF/Shaaaas.png' %}" width="150px" height="280px" border="3" alt=""></a>

        </div>
    <br>
    <div id="info_1">
            <Label>Nombre: Syriusth</Label>
            <br>
            <br>
            <Label>Departamento de Produccion Musical - </Label>
            <Label> Director General / Director de Produccion Musical </Label>
            <br>
            <br>
            <Label>Supervisar y aportar el correcto desarrollo de los proyectos que requieran de la creacion de algun tipo de texto literario que posteriormente seran usados en los proyectos que se produzcan en la compañia</Label>
        </div>
        <div id="Syriusth">
            <a href="{% static 'Gestion_WOP/img/STAFF/Syriusth.png' %}" data-lightbox="Galeria" data-title="Syriusth"><img src="{% static 'Gestion_WOP/img/STAFF/Syriusth.png' %}" width="150px" height="280px" border="3" alt=""></a>
        </div>
    <br>
    <div id="info_1">
            <Label>Nombre: FMV</Label>
            <br>
            <br>
            <Label>Departamento de Producion Literaria - </Label>
            <Label>Director de Producion Literaria</Label>
            <br>
            <br>
            <Label>Supervisar y aportar el correcto desarrollo de los proyectos que requieran de la creacion de algun tipo de texto literario </Label>
        </div>
        <div id="FMV">
             <a href="{% static 'Gestion_WOP/img/STAFF/FMV.png' %}" data-lightbox="Galeria" data-title="FMV"><img src="{% static 'Gestion_WOP/img/STAFF/FMV.png' %}" width="150px" height="280px" border="3" alt=""></a>
        </div>
    <br> 
    <div id="info_1">
            <Label>Nombre: Jerohf</Label>
            <br>
            <br>
            <Label>Departamento de Produccion Visual - </Label>
            <Label>Director de Produccion Visual</Label>
            <br>
            <br>
            <Label>Supervisar y aportar en el correcto desarrollo de los proyectos que requieran de la creacion de Contenido Grafico y Visual que posteriormente seran usados en los proyectos que se produzcan en la compañia</Label>
        </div>
        <div id="Jeroh">
            <a href="{% static 'Gestion_WOP/img/STAFF/Jeroh.png' %}" data-lightbox="Galeria" data-title="Jeroh"><img src="{% static 'Gestion_WOP/img/STAFF/Jeroh.png' %}" width="150px" height="280px" border="3" alt=""></a> 
        </div>
    
    
<script src="{% static 'Gestion_WOP/js/lightbox-plus-jquery.min.js' %}"></script>

  </div>

  {% endblock Contenido %}  